<h3>Nhập khóa học ở đây</h3>
<form method="post" action="/courses/store">
    <label for="description">Mô tả khóa học</label>
    <input type="text" id="description" name="description">
    <label for="name">Tên khóa học</label>
    <input type="text" name="name" id="name">
    <label for="image">chèn ảnh khóa học</label>
    <input type="text" name="image" id="image">
    <button type="submit">Gửi</button>
</form>